@tailwind base;
@tailwind components;
@tailwind utilities;

.rbc-today {
  background-color: transparent !important; /* Remove background color */
  border: none !important; /* Remove border if there is any */
}

.rbc-current-time-indicator {
  background-color: transparent !important;
  border: none !important;
}

.rbc-allday-cell {
  display: none;
}
.rbc-time-view .rbc-header {
  border-bottom: none;
}

.rbc-day-slot .rbc-selected.rbc-background-event, .rbc-event.rbc-selected {
  background-color: #3174ad !important;
}
